html,body,b,p,h1,h2,h3,h4,h5,ul,li {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}
/* 滚动条自定义 */
::-webkit-scrollbar{
	width: 6px;
}
/* 滚动条两端的按钮 */
::-webkit-scrollbar-button{

}
/*  外层轨道 */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.3);
	border-radius: 10px;
}
/*  内层轨道，滚动条中间部分（除去） */
::-webkit-scrollbar-track-piece{

}
/* 滑块 */
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.5);
}
/* 边角 */
::-webkit-scrollbar-corner{

}


a {
	text-decoration: none;
}

html,
body {
	font-family: "微软雅黑";
	background: #ebf2f5;
	min-width: 1200px;
	width: 100%;
	height: 100%;
}

.top_msg_right_box {
	display: none;
}

.top_msg {
	width: 100%;
	height: 80px;
	background: #fff;
	display: flex;
}
.top_msg_left {
	float: left;
	height: 80px;
	background:#D7443C;
	width: 240px;
}

.top_msg_left span {
	display: none;
}
.top_msg_left img{
	height:48px;
	margin:15px 0 0 40px;
}
.top_msg_right_box {
	float: left;
	flex: 1;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}

.top_msg_left>span {
	height: 80px;
	line-height: 80px;
	color: #fff;
	float: left;
}

.top_msg_left>span:nth-child(1) {
	font-size: 36px;
	margin-left: 32px;
	margin-right: 5px;
}

.top_msg_left>span:nth-child(2) {
	font-size: 26px;
}

.top_msg_right {
	float: right;
}

.message_tishi {
	float: left;
	position: relative;
	left: 0;
	top: 0;
}

.message_tishi>img {
	width: 35px;
	height: 35px;
	margin-top: 22.5px;
	margin-right: 40px;
	cursor: pointer;
}

.user_heard {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-top: 15px;
	margin-right: 16px;
}

.user_name {
	font-size: 16px;
	height: 80px;
	line-height: 80px;
	color: #666;
}

.cancel_btn {
	height: 80px;
	line-height: 80px;
	color: #4192ff;
	font-size: 16px;
	margin-left: 40px;
	margin-right: 40px;
	font-weight: bold;
	cursor: pointer;
}

.tishi_number {
	position: absolute;
	top: 26px;
	left: 28px;
	background: #f26526;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.main_content {
	width: 100%;
	display: flex;
}

.main_content_left{
	float: left;
	width: 240px;
	background: #1d242a;
	overflow-y: auto;
}
.main_content_left>ul>li {
	height: 70px;
	position: relative;
	clear: both;
	cursor: pointer;
	position: relative;
}

.blue_line,
.blue_line_ {
	position: absolute;
	width: 4px;
	height: 70px;
	background: #D7443C;
	left: 0;
	top: 0;
}

.blue_line_ {
	display: none;
}

.main_content_left>ul>li.bg_color {
	background: #262935;
}

.arrow {
	position: absolute;
	right: 22px;
	top: 50%;
	margin-top: -10px;
}

.arrow>img {
	width: 20px;
	height: 20px;
}

.main_content_left>ul>li>img {
	margin-left: 38px;
	position: relative;
	top: 50%;
	float: left;
}

.main_content_left>ul>li>span {
	float: left;
	height: 70px;
	line-height: 70px;
	color: #a9aab7;
	margin-left: 15px;
	font-size: 16px;
}

.main_content_left>ul>li>span.white_color {
	color: #fff;
}

.my_account {
	/*float: left;*/
	clear: both;
	display: block;
	height: 0px;
	overflow: hidden;
	transition: height 0.8s;
}

.my_account>li {
	height: 60px;
	width: 100%;
	line-height: 60px;
	cursor: pointer;
	position: relative;
}

.blue_line_2,
.blue_line_2_ {
	position: absolute;
	width: 4px;
	height: 60px;
	background: #D7443C;
	left: 0;
	top: 0;
}

.blue_line_2 {
	display: none;
}

.my_account>li.bg_color {
	background: #262935;
}

.my_account>li>img {
	margin-left: 42px;
	position: relative;
	top: 50%;
	float: left;
}

.my_account>li>span {
	float: left;
	height: 60px;
	line-height: 60px;
	color: #a9aab7;
	margin-left: 20px;
	font-size: 14px;
}

.my_account>li>span.whiteColor {
	color: #fff;
}

.main_content_right {
	margin: 20px!important;
	background: #fff!important;
	flex: 1;
	border: 1px solid #ddd;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 20px;
}

.main_content_right h1 {
	font-size: 16px;
	line-height: 56px;
	height: 56px;
	overflow: hidden;
	padding-left: 40px;
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.table>thead>tr>th{
	border-width: 1px;
}

.top_msg_right_left {
	float: left;
	height: 80px;
	overflow: hidden;
	padding-left: 45px;
}
.top_msg_right_left>div{
	display: inline-block;
	line-height: 80px;
	font-size: 16px;
	font-weight: bold;
}
.top_msg_right_left>div:nth-child(2){
	margin:0 5px;
}
.my_location_msg {
	float: left;
	height: 80px;
}

.my_location_msg>li {
	float: left;
	line-height: 80px;
	font-size: 16px;
	color: #333;
}

.my_location_msg>li:nth-child(2) {
	padding: 0 8px;
}

.my_location_msg>li>a {
	font-size: 16px;
}

.my_location_msg>li:nth-child(4) {
	padding: 0 8px;
}


/*.my_location_msg>li:nth-child(3){
	color: #4192ff;
}*/

.my_location_msg .position_details {
	color: #4192ff;
}

.my_location_msg>li>a {
	color: #333;
}
/*按钮*/
.myButton{
	display: inline-block;
	width: 140px;
	height: 50px;
	line-height: 50px;
	font-size:12px;
	text-align: center;
	color: #fff;
	background-color: #ff78be;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*表格最小高度*/
table tr,table tr{
	height: 50px;
}
/*弹窗*/
.my_popover{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom: 0;
	background-color: rgba(0,0,0,.2);
	z-index: 5000000000;
}
.my_popover .content{
	width: 540px;
	height:380px;
	position: absolute;
	top:50%;
	left:50%;
	margin:-190px 0 0 -270px;
	border-radius:4px;
	background-color: #fff;
	padding: 0 114px;
}
.my_popover .content .title{
	text-align: center;
	margin:40px 0 80px;
	font-size: 16px;
	font-weight:bold;
}
.my_popover .content .form-group{
	display: flex;
	align-items: center;
}
.my_popover .content .form-group>label{
	width: 70px;
	margin:0;
	font-weight:normal;
}
.my_popover .content .form-group>input{
	flex:1;
}
.my_popover .content .buttonGroup{
	overflow: hidden;
	padding: 65px 0 0;
}
.my_popover .content .buttonGroup>div:first-child{
	float: left;
	background-color: #f75b5f;
}
.my_popover .content .buttonGroup>div:last-child{
	float: right;
	background-color: #00c39c;
}
/*弹窗结束*/
.bottom_company{

}
.company_info{
	position: absolute;
	bottom: 0;
	width:100%;
}
.tips{
	font-size: 12px;
	color: #f00;
}
/*加载动画*/
body>.loading>.rotate{
	animation: move 1s linear infinite;
}
@keyframes move {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.dropdown-menu{
	left:inherit;
	right:0;
}