.login .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto; 
}
.login-bg {
    width: 100%;
    height: 9.5rem;
    background: url("../../img/login/login_bg.jpg") no-repeat left top;
    background-size: 100% 100%;
}
.login-icon {
    display: inline-block;
    vertical-align: middle;
    width: .9rem;
    height: 1.1rem;
    background: url("../../img/login/login-icon.png") no-repeat 0 0;
    background-size: 100%;
    margin-left: .6rem;
    margin-right: .5rem;
}
.login-icon.phone {
    background-position: 0 bottom;
}
.login-icon.invite{
    background: url("../../img/login/invite_code.png") no-repeat 0 0;
    background-size: 100%;
}
/*平台协议*/
.ProtocolBox {
    font-size: .55rem;
    margin: .25rem .15rem 1.3rem;
    overflow: hidden;
}
.ProtocolBox  a {
    color: #01b4ff;
    text-decoration: underline;
}
.form-login {
    padding: 0 1.6rem 2.2rem;

}
.form-login> .inputBox {
    display: flex;
    height: 2.5rem;
    border-bottom:1px solid #ddd;
    text-align: left;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding-top: .85rem;
}
.form-login> .inputBox input{
    border: none;
    margin:0;
    outline: none;
    box-shadow: none;
    flex:1;
    width:100%;
    padding:0;
    background: #e7f5f5;
    height: 100%;
}
/*忘记密码*/
.forget_register{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4f4f4f;
    margin-top:1.7rem;
    font-size:.7rem;

}
.forget_register a{
    line-height: 1;
    padding: 0;
    display: inline-block;
    height:.8rem;
}
.forget_register a:first-child{
    text-decoration: underline;
}
.forget_register .center_line{
    display: inline-block;
    border-right:1px solid #ddd;
    margin: 0 1.1rem;
}
.tip{
	display: none;
}
.mui-input-row{
	height: 1.6rem;
	flex: 1;
}
.mui-input-row span{
	margin-top: -.25rem;
}
